

<div class="text-center">
    <h1 class="display-4">Welcome to Waiterly</h1>
    <h3>The app dedicated to restaurant management</h3>
    <img style="box-shadow: rgb(0 , 0 , 0) 0px 5px 10px " class="img-fluid" src="~/img/petr-sevcovic-e5Q5vWO55uU-unsplash.jpg"/>
</div>

